.jumbotron {
    background: rgb(0, 146, 255);
    color: white;
}

img {
    width: 140px;
    height: auto;
}

li {
    padding: 5px;
    margin: 5px;
    font-size: 18px;
    /* background: #faebd7; */
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    /* background: aqua; */
  }
  
  .form-group {
    margin-bottom: 5px;
  }

#mainContainer {
    /* border: 4px solid yellow; */
    width: 90%;
}  

#burgerRow {
    margin-bottom: 10px;
}

#ndBurgers {
    background-color: greenyellow;
    padding-bottom: 10px;
  }
  
#dBurgers {
    background-color: rgba(252, 76, 19, 0.70);
    padding-bottom: 10px;
}

#addBurger {
    /* border-top: 2px solid green; */
}

.deleteForm {
    display: inline-block;
    float: right;
    padding-right: 20px;
}

.devourForm {
    display: inline-block;
    float: right;
    padding-right: 10px;
}

